*,::before,::after
{
	box-sizing: border-box;
}

.l-form{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.form{
	width: 360px;
	padding: 4rem 2rem;
	border-radius: 1rem;
	box-shadow: 0 10px 25px 10px rgba(92,99,105,.5);
}

.form_title{
	font-weight: 400;
	margin-bottom: 3rem;
	text-align: center;
	font-family: 'Times New Roman';
}

.form_div{
	position: relative;
	height: 48px;
	margin-bottom: 1.5rem;
}

.form_input{
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	font-size: var(--normal-font-size);
	border:1px solid black;
	border-radius: .5rem;
	outline: none;
	padding: 1rem;
	background: none;
	z-index: 1;
}

.form_label{
	position: absolute;
	left: 1rem;
	bottom: 10px;
	padding: 0.25rem;
	background-color: #fff;
	transition:all 0.3s ease;


}

.form_button{
	display: block;
	padding: .75rem 2rem;
	outline: none;
	border:none;
	background-color: #4285F4;
	color: #fff;
	font-size: var(--normal-font-size);
	border-radius: .5rem;
	cursor: pointer;
	transition: .3s;
}
 
.form_button:hover{
	box-shadow: 0 10px 36px rgba(50,90,90,.5);

}

.form_input:focus ~.form_label{
	top: -.5rem;
	left: .8rem;
	color: blue;
	transform: translateY(-10px);
	font-size: var(--small-font-size);
	font-weight: 500;
	z-index: 10;
}

.form_input:not(:placeholder-shown).form_input:not(:focus)+.form_label{
	top: -.5rem;
	left: .8rem;
	font-size: var(--small-font-size);
	font-weight: 500;
	z-index: 10;
}

.form_input:focus{
	border:1.5px solid blue;
}